body, html{
  height: 100%;
  overflow: hidden;
}

.col-md-12 {
  border-width: 3px;
  border-style: solid;
}


.col-md-4 {
  border-style: solid;
}

#notepads{
  height: 200px;
  overflow-x: hidden;
}

textarea {
  resize: none;
  box-sizing: border-box;
  width: 100%;
  margin: 5px;
  overflow: hidden;
  border: solid;
}



#settings:hover {
  cursor: pointer;
}

.row{
  overflow: hidden;
}

.no-padding{
  padding: 15px!important;
}

.wrapper {
  position: relative;
  flex: 1 1 auto;
}
.scroll {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  width: 100%;
}