h1{
    text-align: center;
    font-size: 60px
}
header{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}
header > *{
    position: absolute;
}


#countdown{
    position: relative;
    height: 60px;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: justify;
}

#time{
    margin-top: 25px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 40px;
    outline: 1px blue solid;
    position: relative;
    
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
    align-items: baseline;
}

aside{
    display: flex;
    margin-left: 0px;
    margin-top: 11%;
    flex-direction: column;
    font-size: 25px;
    max-width: 25%;
    position: absolute;
}

aside > *{
    justify-self: center;
}

button{
    background: none;
    border: none;
}

button:active{
    transform: rotate(50deg);
}

button:hover{
    cursor: pointer;
}

input:hover{
    cursor: pointer;
}





#gear{
    background-size: 3px;
}


#backgroundColorInput,#textColorInput,.options{

    outline: none;
    border: none;
    visibility: hidden;

}

label{
    position: relative;
}

ul{
    list-style-type: none;
}

li{
    padding: 0;
    border-spacing: 0;
}

#fontInput{
    outline: 1px solid black;
}

#fontInput:hover{
    cursor: text
}

#notepadsSection{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    align-self: end;
    float: left;
    justify-content: center;
    margin-left: auto;
    margin-right: 60px;
    max-width: 75%;
    margin-top: 10px;
    }

textarea{
    font-size: 12pt;
    resize: none;
}
